/** @format */

.Wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.Screen {
	min-height: 100vh;
	background-color: #f3feb8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Sitename {
	display: flex;
	justify-content: center;
	padding: 24px;
}
.Pagi {
	display: flex;
	justify-content: center;
	margin: 24px;
}
