/** @format */

.Wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.Screen {
	height: 100vh;
	background-color: burlywood;
}
.Sitename {
	display: flex;
	justify-content: center;
	padding: 24px;
}
